<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuickERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Quick_ERP"
             connectionString="Data Source=.\sqlexpress;Initial Catalog=Quick_ERP;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    <!--<add name="WebServer"
             connectionString="Data Source=quicktijarat.com;Initial Catalog=Quick_ERP;User ID=quickerp;Password=headoffice"
             providerName="System.Data.SqlClient" />-->
    <add name="WebServer"
             connectionString="Data Source=faisalxp\sqlexpress;Initial Catalog=Quick_ERP_dev;User ID=sa;Password=123"
             providerName="System.Data.SqlClient" />
    <!--<add name="WebServer"
             connectionString="Data Source=.\sqlexpress;Initial Catalog=Quick_ERP_Server;Integrated Security=True"
             providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <QuickERP.My.MySettings>
            <setting name="QuickErp_QuickErpWebService_Service" serializeAs="String">
                <value>http://uniformers.net/quickerpwebservice/QuickErp.asmx</value>
            </setting>
        </QuickERP.My.MySettings>
    </applicationSettings>
</configuration>
