/*
Formula
Production (Qty for production for formula)
Raw Material (Issuence for production based on formula)
Production Plant (Receives issuence, production)
LAB (for testing)
	Approve
		Filling
		Warehouse
	Reject
		Production for Alteration (never waist)
---------------------------------
WorkOrder
Cutting
PreStiching Process
Stiching 1
Stiching 2
Stiching 3
Stiching 4
PostStiching Process
Fiinishing
Warehouse
*/
go
drop table Production_ProcessProduction_Detail
drop table Production_ProcessProduction
drop table Production_ProcessWorkFlow
drop table Production_Process
drop table Inv_Item_Detail
drop table Inv_ItemGrade
drop table Common_Color

go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='Production_Process')
	CREATE TABLE [Production_Process](
		[Co_ID] [smallint] NOT NULL,
		[Process_ID] [smallint] NOT NULL,
		[Process_Code] [varchar](50) NOT NULL,
		[Process_Desc] [varchar](250) NOT NULL,
		[Stamp_UserID] [int] NOT NULL,
		[Stamp_DateTime] [datetime] NOT NULL,
		[Upload_DateTime] [datetime] NULL,
		[RecordStatus_ID] [int] NOT NULL,
	 CONSTRAINT [PK_Production_Process] PRIMARY KEY CLUSTERED
	(
		[Co_ID] ASC,
		[Process_ID] ASC
	)
	)
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='Production_ProcessWorkFlow')
	CREATE TABLE [Production_ProcessWorkFlow](
		[Co_ID] [smallint] NOT NULL,
		[ProcessWorkFlow_ID] [int] NOT NULL,
		[Source_Process_ID] [smallint] NULL,
		[Destination_Process_ID] [smallint] NULL,
		[ProcessWorkFlow_Desc] [varchar](250) NOT NULL,
		[Stamp_UserID] [int] NOT NULL,
		[Stamp_DateTime] [datetime] NOT NULL,
		[Upload_DateTime] [datetime] NULL,
		[RecordStatus_ID] [int] NOT NULL,
	 CONSTRAINT [PK_Production_ProcessWorkFlow] PRIMARY KEY CLUSTERED 
	(
		[Co_ID] ASC,
		[ProcessWorkFlow_ID] ASC
	)
	)
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='FK_Production_ProcessWorkFlow_Production_Process1')
	ALTER TABLE Production_ProcessWorkFlow
		WITH CHECK ADD  CONSTRAINT FK_Production_ProcessWorkFlow_Production_Process1
		FOREIGN KEY([Co_ID], [Source_Process_ID])
		REFERENCES Production_Process ([Co_ID], [Process_ID])
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='FK_Production_ProcessWorkFlow_Production_Process2')
	ALTER TABLE Production_ProcessWorkFlow
		WITH CHECK ADD  CONSTRAINT FK_Production_ProcessWorkFlow_Production_Process2
		FOREIGN KEY([Co_ID], [Destination_Process_ID])
		REFERENCES Production_Process ([Co_ID], [Process_ID])
go
IF EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='Inv_Item_Size_Association_History')
	DROP TABLE Inv_Item_Size_Association_History
go
IF EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='Inv_Item_Size_Association')
	DROP TABLE Inv_Item_Size_Association
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o INNER JOIN syscolumns c ON o.id = c.id WHERE o.[Name] ='Inv_ItemSize' AND c.[Name] = 'ItemSize_Code')
	ALTER TABLE Inv_ItemSize
		ADD ItemSize_Code VARCHAR(10) NOT NULL
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='Common_Color')
	CREATE TABLE Common_Color(
		Co_ID SMALLINT NOT NULL,
		Color_ID SMALLINT NOT NULL,
		Color_Code VARCHAR(10) NOT NULL,
		Color_Desc VARCHAR(250) NOT NULL,
		[Stamp_UserID] INT NOT NULL,
		[Stamp_DateTime] DATETIME NOT NULL,
		[Upload_DateTime] DATETIME NULL,
		[RecordStatus_ID] INT NOT NULL,
	 CONSTRAINT [PK_Common_Color] PRIMARY KEY CLUSTERED 
	(
		[Co_ID] ASC,
		[Color_ID] ASC
	))
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='Inv_ItemGrade')
	CREATE TABLE Inv_ItemGrade(
		Co_ID SMALLINT NOT NULL,
		ItemGrade_ID SMALLINT NOT NULL,
		ItemGrade_Code VARCHAR(10) NOT NULL,
		ItemGrade_Desc VARCHAR(250) NOT NULL,
		[Stamp_UserID] INT NOT NULL,
		[Stamp_DateTime] DATETIME NOT NULL,
		[Upload_DateTime] DATETIME NULL,
		[RecordStatus_ID] INT NOT NULL,
	 CONSTRAINT [PK_Inv_ItemGrade] PRIMARY KEY CLUSTERED 
	(
		[Co_ID] ASC,
		[ItemGrade_ID] ASC
	))
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='Inv_Item_Detail')
	CREATE TABLE Inv_Item_Detail(
		Co_ID SMALLINT NOT NULL,
		Item_Detail_ID INT NOT NULL,
		Item_ID INT NOT NULL,
		Color_ID SMALLINT NULL,
		ItemGrade_ID SMALLINT NULL,
		ItemSize_ID SMALLINT NULL,
		[Stamp_UserID] INT NOT NULL,
		[Stamp_DateTime] DATETIME NOT NULL,
		[Upload_DateTime] DATETIME NULL,
		[RecordStatus_ID] INT NOT NULL,
	 CONSTRAINT [PK_Inv_Item_Detail] PRIMARY KEY CLUSTERED
	(
		[Co_ID] ASC,
		Item_Detail_ID ASC
	))
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='Inv_Item_Detail')
	ALTER TABLE Inv_Item_Detail
		ADD CONSTRAINT [IX_Comapny_Color_ItemGrade_ItemSize] UNIQUE
		(
		Item_ID ASC,
		Co_ID ASC,
		Color_ID ASC,
		ItemGrade_ID ASC,
		ItemSize_ID ASC
		)
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='FK_Inv_Item_Detail_Invs_Item')
	ALTER TABLE Inv_Item_Detail
		WITH CHECK ADD  CONSTRAINT FK_Inv_Item_Detail_Invs_Item
		FOREIGN KEY([Co_ID], Item_ID)
		REFERENCES Invs_Item ([Co_ID], Item_ID)
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='FK_Inv_Item_Detail_Common_Color')
	ALTER TABLE Inv_Item_Detail
		WITH CHECK ADD  CONSTRAINT FK_Inv_Item_Detail_Common_Color
		FOREIGN KEY([Co_ID], Color_ID)
		REFERENCES Common_Color ([Co_ID], [Color_ID])
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='FK_Inv_Item_Detail_Inv_ItemGrade')
	ALTER TABLE Inv_Item_Detail
		WITH CHECK ADD  CONSTRAINT FK_Inv_Item_Detail_ItemGrade
		FOREIGN KEY([Co_ID], ItemGrade_ID)
		REFERENCES Inv_ItemGrade ([Co_ID], ItemGrade_ID)
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='FK_Inv_Item_Detail_Inv_ItemSize')
	ALTER TABLE Inv_Item_Detail
		WITH CHECK ADD  CONSTRAINT FK_Inv_Item_Detail_Inv_ItemSize
		FOREIGN KEY([Co_ID], ItemSize_ID)
		REFERENCES Inv_ItemSize ([Co_ID], ItemSize_ID)
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='Production_ProcessProduction')
	CREATE TABLE Production_ProcessProduction(
		Co_ID SMALLINT NOT NULL,
		Production_ID INT NOT NULL,
		Production_Date DATETIME NOT NULL,
		[Stamp_UserID] INT NOT NULL,
		[Stamp_DateTime] DATETIME NOT NULL,
		[Upload_DateTime] DATETIME NULL,
		[RecordStatus_ID] INT NOT NULL,
	 CONSTRAINT [PK_Production_ProcessProduction] PRIMARY KEY CLUSTERED
	(
		[Co_ID] ASC,
		Production_ID ASC
	))
go
IF NOT EXISTS (SELECT o.[NAME] FROM sysobjects o WHERE o.[Name] ='Production_ProcessProduction_Detail')
	CREATE TABLE Production_ProcessProduction_Detail(
		Co_ID SMALLINT NOT NULL,
		Production_ID INT NOT NULL,
		Production_Detail_ID INT NOT NULL,
		Item_Detail_ID INT NOT NULL,
		[Stamp_UserID] INT NOT NULL,
		[Stamp_DateTime] DATETIME NOT NULL,
		[Upload_DateTime] DATETIME NULL,
		[RecordStatus_ID] INT NOT NULL,
	 CONSTRAINT [PK_ProcessProduction_Detail] PRIMARY KEY CLUSTERED
	(
		[Co_ID] ASC,
		Production_ID ASC,
		Production_Detail_ID ASC
	))
go
